In [18]:
from pyspark.sql import SparkSession
import pandas as pd

In [19]:
spark = SparkSession.builder \
    .appName("Solana ML Pipeline") \
    .getOrCreate()

In [20]:
df_spark = spark.read.csv('/home/nicolas/ml_pipeline_spark/data/solana.csv', header=True, inferSchema=True)

In [21]:
df_spark.show(5)

+----------+--------+--------+--------+--------+---------+--------+
|      Date|    Open|    High|     Low|   Close|Adj Close|  Volume|
+----------+--------+--------+--------+--------+---------+--------+
|2020-04-10|0.832005|1.313487|0.694187|0.951054| 0.951054|87364276|
|2020-04-11|0.951054|1.049073| 0.76502|0.776819| 0.776819|43862444|
|2020-04-12|0.785448| 0.95667|0.762426|0.882507| 0.882507|38736897|
|2020-04-13| 0.89076|0.891603|0.773976|0.777832| 0.777832|18211285|
|2020-04-14|0.777832|0.796472|0.628169|0.661925| 0.661925|16747614|
+----------+--------+--------+--------+--------+---------+--------+
only showing top 5 rows

We now convert Spark DataFrame in pandas for Model

In [22]:
df_selected = df_spark.select("Date", "Close").dropna()

df_real = df_selected.toPandas()

df_real['Date'] = pd.to_datetime(df_real['Date'])
df_real.set_index('Date', inplace=True)

In [23]:
df_real

                 Close
Date
2020-04-10    0.951054
2020-04-11    0.776819
2020-04-12    0.882507
2020-04-13    0.777832
2020-04-14    0.661925
...                ...
2022-03-21   88.757202
2022-03-22   90.512970
2022-03-23   95.102684
2022-03-24  102.223694
2022-03-25  100.423592

[715 rows x 1 columns]